@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext');
@font-face {
	font-family: Brassie Regular;
	src: url('../fonts/brassie_regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/brassie_regular.otf')  format('opentype'),
		url('../fonts/brassie_regular.woff') format('woff'),
		url('../fonts/brassie_regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Proxima Nova Regular;
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Proxima Nova Semibold;
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold.otf')  format('opentype'),
		url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Proxima Nova Light;
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light.otf')  format('opentype'),
		url('../fonts/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*============================================ 
	Основные стили
============================================*/
body{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-moz-user-select: none;
	margin-top: 41px;
	min-width: 300px;
}
a:focus,
a:active,
a {
	outline: none !important;
}
header {
	min-height: 40px;
	background: #000;
	position: relative;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
}
header .container {
	padding: 0;
}
	.lang_block {
		height: 41px;
		float: left;
		cursor: pointer;
	}
	.lang_block span{
		display: inline-block;
		padding: 0 9px;
		height: 19px;
		margin-top: 12px;
		text-transform: uppercase;
		color: #fff;
		font-size: 15px;
		text-align: center;
	}
	.lang_block span.change {
		background: #ff7835;
		padding: 0 14px;
	}
	.social-likes {
		padding: 10px 10px 9px 10px;
		margin: 0;
		display: block;
		float: left;
		margin-left: 31px;
		margin-right: 32px;
	}
		.social-likes__widget {
			margin: 0;
		}
	.header_media {
		min-height: 40px;
		float: left;
		line-height: 40px;
	}
	.header_media > span,
	.header_media > div {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -1.5px;
	}
		header .tumbler {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background: #ffffff;
			border: 1px solid #ffffff;
			box-shadow: inset 0px 0px 0px 3px #000000;
			position: relative;
			margin: 1px 2px 0 3px;
			cursor: pointer;
		}
		header .stop {
			background: #ff7835;
		}
		header .play:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 13px;
			transform: translateY(-50%);
			line-height: normal;
			border: 6px solid transparent;
			border-left-color: #000000;
		}
		header .stop:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 11px;
			transform: translateY(-50%);
			line-height: normal;
			border: 4px solid #000000;
		}
		header .prev,
		header .next {
			width: 26px;
			height: 40px;
			overflow: hidden;
			cursor: pointer;
		}
		header .prev:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: -5px;
			transform: translateY(-50%);
			border: 6px solid transparent;
			border-right: 9px solid #ffffff;
		}
		header .prev:after {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY( -50%);
			border: 10px solid transparent;
			border-right: 15px solid #ffffff;
		}
		header .next:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY( -50%);
			border: 10px solid transparent;
			border-left: 15px solid #ffffff;
		}
		header .next:after {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			right: -5px;
			transform: translateY(-50%);
			border: 6px solid transparent;
			border-left: 9px solid #ffffff;
		}
		header .state_block {
			height: 40px;
			line-height: normal;
			padding-top: 5px;
			margin-left: 8px;
		}
		header .bar {
			width: 280px;
			float: left;
		}
		header .song_name {
			color: #ffffff;
			font-size: 14px;
			display: block;
			margin-bottom: 7px;
			font-family: 'Proxima Nova Light';

		}
		header .line {
			height: 7px;
			background: #ffffff;
			width: 60%;
			position: relative;
		}
		header .line:after {
			content: "";
			display: inline-block;
			border: 9px solid transparent;
			border-top: 14px solid #ff7835;
			position: absolute;
			right: 0;
			transform: translate(50%, -7px);
		}
		header .state {
			border-bottom: 1px solid #ffffff;
			cursor: pointer;
		}
		header .time {
			float: left;
			font-size: 17px;
			color: #ffffff;
			padding-top: 9px;
			margin-left: 6px;
		}
		.social_links {
			float: right;
			min-height: 38px;
			padding-top: 8px;
			margin: 0 -6px;
			cursor: pointer;
		}
		header .social_links > div {
			display: inline-block;
			width: 38px;
			margin: 0 4px;
			height: 30px;
			background-image: url("../images/sprite.png");
			background-repeat: no-repeat;
			position: relative;
		}
		header .social_links .itunes {
			background-position: 0px -32px;
		}
		header .social_links .google_play {
			background-position: -45px -31px;
		}
		header .social_links .facebook {
			background-position: -95px -31px;
		}
		header .social_links .vk {
			background-position: -145px -31px;
		}
		header .social_links .instagram {
			background-position: -195px -31px;
		}
		header .social_links .spotify {
			background-position: -245px -31px;
		}
		header .social_links .youtube {
			background-position: -295px -31px;
		}

		/*   Выподающее меню и социальные иконки на больших экранах   */
		header .social_links .itunes:hover {
			background-position: 0px 0px;
		}
		header .social_links .google_play:hover {
			background-position: -45px 1px;
		}
		header .social_links .facebook:hover {
			background-position: -95px 1px;
		}
		header .social_links .vk:hover {
			background-position: -145px 1px;
		}
		header .social_links .instagram:hover {
			background-position: -195px 1px;
		}
		header .social_links .spotify:hover {
			background-position: -245px 1px;
		}
		header .social_links .youtube:hover {
			background-position: -295px 1px;
		}

		/*  Выпадающие меню   */
		header .social_links .facebook:hover .drop {
			display: block;
		}
		header .social_links .vk:hover .drop{
			display: block;
		}
	/*----*/


		/*   Шапка мобильного меню  */
		.mobile_header {
			position: relative;
		}

		.label {
			font-size: 20px;
			text-transform: uppercase;
			display: inline-block;
			text-align: left;
			padding: 10px;
			float: left;
		}

		.like,
		.hamb,
		.lang_flags {
			float: right;
		}


		.lang_flags {
			padding: 10px 5px;
		}

		.like {
			height: 21px;
			overflow: hidden;
			margin: 9px 10px 0 10px;
		}

		.lang_flags span {
			display: inline-block;
			width: 31px;
			height: 19px;
			margin:  0 3px;
			position: relative;
			top: 1px;
			background: url('../images/flag.png') no-repeat transparent;
			cursor: pointer;
		}
		.lang_flags span.eng {
			background-position: -41px 0;
		}
		.lang_flags span.ch {
			background-position: -82px 0;
		}
		.mobile_header .social-likes {
			padding: 0;
			width: auto;
		}
		.lang_flags span.changed {
			outline: 1px solid #ffffff;

		}

		/*  Иконка гамбургер  */

		.hamb {
			width: 40px;
			margin-top: 10px;
			height: 20px;
			position: relative;
			z-index: 999;
		}
		.hamb span,
		.hamb span:before,
		.hamb span:after {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -1px;
			margin-left: -13px;
			display: inline-block;
			width: 26px;
			height: 2px;
			background: #fff;
		}
		.hamb span:before {
			content: "";
			margin-top: -8px;
			transition: all 0.2s;
		}
		.hamb span:after {
			content: "";
			margin-top: 6px;
			transition: all 0.2s;
		}

		/*  Открытое положение  */
		.hamb.open span {
			background-color: transparent;
		}
		.hamb.open span:before {
			transform: rotate(45deg);
			margin-top: 0;
		}
		.hamb.open span:after {
			transform: rotate(-45deg);
			margin-top: 0;
		}

		/*  Выдвигающееся меню  */
		#wrapper {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0,0,0, 0.7);
			z-index: 9;
			display: none;
		}
		#slide_menu {
			position: absolute;
			top: 0;			
			right: 0;
			width: 0;
			white-space: nowrap;
			min-height: 500px;
			background: rgba(0,0,0, 0.9);
			overflow: hidden;
			transition: all 0.2s;
			padding-top: 40px;
			z-index: 10;
		}
		#slide_menu.open {
			width: 300px;
		}
		#slide_menu a {
			display: block;
			width: 100%;
			padding: 10px;
			color: #fff;
			font-family: 'Pt Sans';
			font-size: 18px;
			text-decoration: none;
			transition: all 0.1s;
			padding-left: 20px;
		}
		#slide_menu a:hover {
			background: #ffffff;
			color: #000000;
		}
		#slide_menu .artists a{
			padding-left: 35px;
		}

		/*     */

		.social_links .drop {
			position: absolute;
			top: 100%;
			left: 0;
			min-width: 250px;
			margin: 0;
			padding: 0;
			min-height: 100px;
			padding: 10px;
			display: none;
			z-index: 9999;
		}
		.social_links .drop li {
			display: block;
			list-style: none;
			padding: 13px 0;
			font-size: 15px;
			text-transform: uppercase;
			color: #ffffff;
			position: relative;
		}
		.social_links .drop li a {
			font-size: 15px;
			text-transform: uppercase;
			color: #ffffff;
			padding-left: 30px;
			font-family: 'Brassie Regular';
			font-weight: lighter;
			letter-spacing: 0.7px;
		}
		.social_links .drop li:before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			background-image: url("../images/sprite.png");
			background-repeat: no-repeat;
			background-size: 200px;
			position: relative;
			top: 5px;
			margin-right: 15px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		.social_links .facebook .drop li:before {
			background-position: -59px 2px;
		}
		.social_links .vk .drop li:before {
			background-position: -89px 2px;
			left: -2px;
		}

/*        Слайдер      */
.carousel {
	background: #cb5154;
}
#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
}
.owl-controls {
	position: relative;
	bottom: 0;
	max-width: 1200px;
	margin: 0 auto !important;
}
.owl-pagination {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}
.owl-prev {
	position: absolute;
	display: inline-block;
	width: 73px;
	height: 72px;
	background: url("../images/sprite-2.png") -2px !important;
	bottom: 230px;
	left: 10px;
}
.owl-next {
	position: absolute;
	width: 73px;
	height: 72px;
	background: url("../images/sprite-2.png") -80px !important;
	bottom: 230px;
	right: 10px;
}

/*   Контент  */
main {
	font-family: 'PT Sans', sans-serif;
}
.orange_block {
	min-height: 65px;
	background: #ff7835;
}
.orange_block .container,
main > .container {
	padding: 0;
}
.orange_block a,
.orange_block span {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 19px;
	line-height: 65px;
	font-family: 'PT Sans', sans-serif;
}

.action_name {
	float: left;
}
.nav-links {
	float: right;
}
.nav-links a {
	display: inline-block;
	margin-left: 22px;
	letter-spacing: 1px;
}
/* Табы */
ul.unstyled {
	list-style: none;
	padding: 0;
	overflow: hidden;
	margin: 15px 0 15px;

}
ul.unstyled li {
	float: left;
	margin: 0 62px 0 0;
	letter-spacing: 0.5px;
}
ul.unstyled li a {
	color: #222222;
	text-decoration: none;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	outline: none;
}
ul.unstyled li.active a {
	color: #ff8f5a;
}
p.bio,
.about_info p,
.about_info ul li {
	font-size: 12px;
	color: #0a0a0a;
	font-family: 'PT Sans', sans-serif;
	line-height: 30px;
	font-weight: bold;
	text-indent: 10px;
}
p.bio {
	margin-top: -11px;
}
.about_info p {
	margin-top: 20px;
}
.about_info ul li {
	text-indent: 0;
}

/*----*/
.about_header,
.music_header,
.inst_header,
.video_header,
.contacts_header {
	background: #ff7835;
	border-radius: 15px;
	height: 30px;
	margin: 30px 0 29px;
}
.about_header h1,
.music_header h1,
.inst_header h1,
.video_header h1,
.contacts_header h1{
	font-size: 16px;
	color: #ffffff;
	margin: 0;
	text-transform: uppercase;
	line-height: 30px;
	padding: 0 18px;
}
.about_info ul {
	padding: 0;
	list-style: none;
	list-style-image: url('../images/star.png');
	list-style-position: inside;
	margin: 12px 0 -11px;
}
#music {
	margin-bottom: 43px;
}
.music_header {
	margin-top: 37px;
}
.song {
	margin-bottom: 10px;
}
.song > div.col-md-1 {
	padding: 0;
	text-align: center;
}
.song .state_bar {
	margin: 0 -14px;
	padding-top: 30px;
	font-size: 12px;
	color: #0a0a0a;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.song.changed .state_bar{
	padding-top: 8px;
}
.song .state_bar > div {
	display: none;
}
.song.changed .state_bar > div {
	border-bottom: 2px solid #000000;
	position: relative;
	margin-top: 20px;
	margin-right: 15px;
	cursor: pointer;

	display: block;
}
.song.changed .song_state {
	height: 12px;
	background: #ff7835;
	margin-bottom: -2px;
	width: 0%;
	position: relative;
}
.song.changed .song_state:after {
	content: "";
	display: inline-block;
	border: 12px solid transparent;
	position: absolute;
	right: 0;
	top: -2px;
	transform: translateX(50%);
	border-top-color: white;
}
.song.changed .song_time {
	display: inline-block;
	position: absolute;
	right: 0;
	top: -20px;
}
.song.changed .play_button {
	border-radius: 50%;
	box-shadow: none;
	box-sizing: content-box;
	width: 60px;
	height: 60px;
	background: #ff7835;
	border: 6px solid #ffffff;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);

}
.song.changed .play_button:before {
	border: 13px solid transparent;
	border-left: solid 16px #ffffff;
	left: 25px;
}
.play_button {
	display: inline-block;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	-webkit-box-shadow: 0px 1px 10px 2px rgba(240,240,240,1);
	-moz-box-shadow: 0px 1px 10px 2px rgba(240,240,240,1);
	box-shadow: 0px 1px 10px 2px rgba(240,240,240,1);
	margin: 0;
	position: relative;
	cursor: pointer;
}
.play_button:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 31px;
	transform: translateY(-50%);
	border: 15px solid transparent;
	border-left: solid 20px rgba(240,240,240,1);
}
.photo_item {
	margin-bottom: 30px;
}
.photo_item > div {
	position: relative;
}
.photo_item img {
	max-width: 100%;
	max-height: 205px;
}
.dark {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100% !important;
	background: rgba(0,0,0, 0.5);
	display: none;
	cursor: pointer;
}
.dark span {
	position: absolute;
	background: #ffffff;
}
.top_left_h {
	width: 70px;
	height: 2px;
	top: 10px;
	left: 10px;
}
.top_left_v {
	width: 2px;
	height: 30px;
	top: 10px;
	left: 10px;
}
.bottom_right_h {
	width: 70px;
	height: 2px;
	bottom: 10px;
	right: 10px;
}
.bottom_right_v {
	width: 2px;
	height: 30px;
	bottom: 10px;
	right: 10px;
}
.dark span.zoom {
	display: inline-block;
	width: 46px;
	height: 47px;
	background-color: transparent;
	background: url('../images/zoom.png') no-repeat ;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.photo_item > div:hover .dark {
	display: block;
}
.video_header {
	margin-top: 0px;
	margin-bottom: 20px;
}
#video .video {
	position: relative;
	padding-bottom: 52%;
	padding-top: 25px;
	height: 0;
	margin-top: 10px;
}
#video .video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#contacts {
	margin-top: 0px;
	overflow: hidden;
}
.contacts_info h3 {
	margin: 0 0 25px;
	font-size: 12px;
	text-transform: uppercase;
	color: #000000;
	font-family: 'PT Sans';
}
.contacts_info .mail,
.contacts_info .phone,
.contacts_info .PR{
	min-width: 198px;
	float: left;
	font-size: 12px;
	line-height: 19px;
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	text-transform: none;
	margin-bottom: 10px;
}
.contacts_info .mail a,
.contacts_info .phone a,
.contacts_info .PR a {
	color: #000000;
}
.contacts_info .PR {
}
.gps {
	font-size: 12px;
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	text-transform: none;
	margin-top: -9px;
	overflow: hidden;
}
.contacts_info .mail:before,
.contacts_info .phone:before,
.contacts_info .PR:before,
.gps p:before {
	content: "";
	display: inline-block;
	background: url('../images/sprite-3.png') no-repeat;
	position: relative;
	margin-right: 15px;
	float: left;
}

.contacts_info .mail:before {
	width: 25px;
	height: 16px;
	background-position: -2px -11px;
	top: 2px;
}
.contacts_info .PR:before {
	width: 25px;
	height: 20px;
	background-position: -30px -7px;
	float: left;
	margin-right: 21px;
}
.contacts_info .phone:before {
	width: 23px;
	height: 23px;
	background-position: -57px -4px;
}
.gps p:before {
	width: 23px;
	height: 29px;
	background-position: -81px 0px;
	position: absolute;
	left: -30px;
}
.gps p {
	float: right;
	text-align: left;
	line-height: 27px;
	min-width: 350px;
	position: relative;
}
img.logo {
	margin-top: 25px;
}

.social_icons > div {
	display: inline-block;
	width: 38px;
	margin: 0 4px;
	height: 30px;
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	position: relative;
}
.social_icons {
	margin: 14px 12px;
}
.social_icons .itunes {
	background-position: 0px -63px;
}
.social_icons .google_play {
	background-position: -45px -63px;
}
.social_icons .facebook {
	background-position: -95px -63px;
}
.social_icons .vk {
	background-position: -145px -63px;
}
.social_icons .instagram {
	background-position: -195px -63px;
}
.social_icons .spotify {
	background-position: -245px -63px;
}
.social_icons .youtube {
	background-position: -295px -63px;
}

footer {
	height: 44px;
	background: #d5d4d2;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	padding: 18px;
	font-weight: bold;
}


/*  Модальное окно  */


.popup {
	position: fixed;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	display:none;
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:100;
}
.popup_bg {
	background:rgba(0,0,0,0.8);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}
.popup_img {
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:94%;
	max-width:94%;
	margin:1% 0 0 0;
}
.close_popup {
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 9999;
	cursor: pointer;
	padding: 0px;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
}
#totop {
	display: inline-block;
	width: 86px;
	height: 86px;
	border-radius: 50%;
	background: url(../images/arrow.png) no-repeat #ff7835 23px 23px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
	opacity: 0.5;
}
#totop:hover {
	opacity: 1;
}





@media (max-width: 1200px) {
	.lang_block {
		width: 50%;
		text-align: right;
	}
	.social-likes {
		width: 50%;
		text-align: left;
		margin: 0;
		padding-left: 70px;
	}
	.header_media,
	.social_links {
		width: 100%;
		text-align: center;
	}
	header .bar {
		width: 190px;
	}
	.social_links .drop {
		left: -80%;
		text-align: left;
	}

	header .social_links div {
		position: static;
	}
	header .social_links .drop {
		background: rgba(0,0,0, 0.8);
		left: 0px;
		right: 0px;
		top: 100%;
		min-width: 100%;
		text-align: center;
	}
	.social_links .drop li:before {
		left: auto !important;
	}
	header {
		position: relative;
	}
	body {
		margin-top: 0;
	}
}
@media (max-width: 992px) {
	.orange_block,
	.orange_block + .container{
		padding: 0 15px;
	}
	.tab-content img {
		margin: 0 auto;
	}
	ul.unstyled li {
		float: none;
		display: inline-block;
		margin: 0 30px;
	}
	ul.unstyled {
		padding: 0 15px;
		text-align: center;
	}
	p.bio {
		margin: 0;
	}
	header .container {
		padding: 0 15px;
	}
	.owl-pagination {
		display: none;
	}
	.gps {
		text-align: center;
		margin-top: 20px;
	}
	.gps p {
		text-indent: 30px;
		float: none;
		display: inline-block;
		min-width: auto;
	}
	.gps p:before {
		left: 0;
	}
	.social_icons {
		text-align: center;
	}
	.contacts_info .mail,
	.contacts_info .phone,
	.contacts_info .PR {
		float: none;
		display: inline-block;
		vertical-align: text-top;
		text-align: left;
	}
	.contacts_info {
		text-align: center;
	}
	.photo_item {
		text-align: center;
	}
	.photo_item > div {
		display: inline-block;
	}
}

@media (max-width: 768px) {
	.orange_block {
		text-align: center;
	}
	.action_name,
	.nav-links {
		float: none;
	}
	.song {
		margin-right: 0;
		margin-left: 0;
	}
	.nav-links,
	.orange_block {
		display: none;
	}
	.nav-links a {
		width: 49%;
		margin: 0;
		line-height: 40px;
	}
	.owl-buttons > div {
		background-size: 80px !important;
		width: 36px;
		height: 36px;
	}
	.owl-buttons > div.owl-next {
		background-position: -122px 0 !important;
	}
}
@media (max-width: 480px) {
	header .time {
		/*display: none;*/
	}
}
@media (max-width: 400px) {
	header .bar {
		display: none;
	}
	.lang_block {
		width: 100%;
		text-align: center;
	}
	.social-likes {
		padding: 0;
		width: 100%;
		text-align: center;
	}
	header .social_links > div {
		margin: 0;
	}
}
@media (max-width: 339px) {
	.like {
		position: relative;
		top: 10px;
	}
}
